.main{
    display: flex;
    flex-direction: row;
    background: radial-gradient(circle at bottom left, #5494d0, #2a68b1);
    border-radius: .7em;
}

.center-right
{
    flex-basis: 30%;
}


.center-left
{
    flex-basis: 70%;
}


.center
{
    flex-basis:50%;
    border-radius: 0;
    padding-left:0;
}


.right
{
    flex-basis: 25%;
}


.left
{
    flex-basis: 25%;
}