@use '@angular/material' as mat;
@use './app/palettes/themePalette.scss';

@include mat.core();

html {
  @include mat.all-component-themes(themePalette.$light-theme);
}

:root {
  @include mat.fab-overrides((
    container-elevation-shadow: none,
    focus-container-elevation-shadow: none,
    hover-container-elevation-shadow: none,
    extended-hover-container-elevation-shadow: none,
    extended-container-elevation-shadow: none,
    extended-focus-container-elevation-shadow: none,
    extended-container-height: 4.5vh,
  ));
}

:root {
  @include mat.icon-button-overrides((
    icon-color: #1c60a2,
  ));
}

p { font-family: Inter; font-weight: 400; }
h1 { font-family: Inter; font-weight: 800; font-size: 20px; }
h2 { font-family: Inter; font-weight: 700; font-size: 18px; }
h3 { font-family: Inter; font-weight: 600; font-size: 17px; }
h4 { font-family: Inter; font-weight: 600; font-size: 16px; }
h5 { font-family: Inter; font-weight: 550; font-size: 16px; }
h6 { font-family: Inter; font-weight: 550; font-size: 15px; }



// @include mat.all-component-themes($primary-palette);
// html {
//   @include mat.theme((
//     color: (
//       primary: $primary-palette,
//       tertiary: $tertiary-palette,
//       theme-type: light,
//     ),
//     typography: (
//         plain-family: Inter,
//         brand-family: Open Sans,
//         bold-weight: 900,
//         medium-weight: 500,
//         regular-weight: 300,
//     ),
//     density: 0
//   ));
// }