@use '@angular/material' as mat;
@use './app/palettes/themePalette.scss';

/*css for the playground specifically*/

html {
  scroll-behavior: smooth;
}

.error{
  color:red;
}

.good{
  color:#66ff66;
}

.cm-editor
{
    width:100%;
    height:100%;
}

/*Fonts I guess? I didn't write this*/
@font-face {
  font-family: 'Inter-Extra-Bold';
  src: url(../src/app/Fonts/static/Inter_24pt-ExtraBold.ttf);
}


@font-face {
  font-family: 'Inter-Bold';
  src: url(../src/app/Fonts/static/Inter_24pt-Bold.ttf);
}

@font-face {
  font-family: 'Inter-Semi-Bold';
  src: url(../src/app/Fonts/static/Inter_24pt-SemiBold.ttf);
}

@font-face {
  font-family: 'Inter-Medium';
  src: url(../src/app/Fonts/static/Inter_24pt-Medium.ttf);
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(../src/app/Fonts/static/Inter_24pt-Regular.ttf);
}

@include mat.core();

html {
  @include mat.all-component-themes(themePalette.$light-theme);
  scroll-padding-top: 100px;
}

body {
  padding: 0;
  margin: 0;
}

.keyword {
  font-family: ui-monospace, 'Cascadia Mono', 'Segoe UI Mono', monospace;
  color: indianred;
  font-weight: bold;
}

:root {
  @include mat.fab-overrides((
    container-elevation-shadow: none,
    focus-container-elevation-shadow: none,
    hover-container-elevation-shadow: none,
    extended-hover-container-elevation-shadow: none,
    extended-container-elevation-shadow: none,
    extended-focus-container-elevation-shadow: none,
    extended-container-height: 4.5vh,
  ));
}

:root {
  @include mat.icon-button-overrides((
    icon-color: #1c60a2
  ));
  @include mat.fab-overrides((
    extended-label-text-font: 'Inter-Medium'
  ));
  @include mat.button-overrides(( //button fonts
    filled-label-text-font: 'Inter-Medium',
    outlined-label-text-font: 'Inter-Medium',
    protected-label-text-font: 'Inter-Medium',
    text-label-text-font: 'Inter-Medium'  
  ));
  @include mat.card-overrides((
    title-text-font: 'Inter-Medium',
    subtitle-text-font: 'Inter-Medium'
  ));
}

a { font-family: 'Inter-Regular'; font-weight: 400; }
p { font-family: 'Inter-Regular'; font-weight: 400; }
h1 { font-family: 'Inter-Bold'; font-weight: 800; font-size: 20px; }
h2 { font-family: 'Inter-Bold'; font-weight: 700; font-size: 18px; }
h3 { font-family: 'Inter-Semi-Bold'; font-weight: 650; font-size: 17px; }
h4 { font-family: 'Inter-Semi-Bold'; font-weight: 600; font-size: 17px; }
h5 { font-family: 'Inter-Semi-Bold'; font-weight: 600; font-size: 16px; }
h6 { font-family: 'Inter-Semi-Bold'; font-weight: 550; font-size: 16px; }
