
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>

<div class="hero-parent">
    <div class="hero">
        <gradient-header size="40px" label="Welcome to SeetLabs: Code"></gradient-header>
        <p>SeetLabs: Code aims to provide an engaging, practical learning experience that inspires high school students to explore computer science further.</p>
        <div class="hero-call-to-actions">
            <a href="#modules" mat-fab extended>
                <mat-icon>explore</mat-icon>
                Explore Modules
            </a>
            <a href="/" mat-fab extended>
                <mat-icon>download</mat-icon>
                Load Backup
            </a>
        </div>
    </div>    
</div>

<div class="site-features-parent">
    <h1>What's Included?</h1>
    <div class="site-features">
        <div class="reading-activities">
            <mat-icon>import_contacts</mat-icon>
            <h2>Reading Activities</h2>
            <ul>
                <li>Introduce users to the module’s foundational content</li>
                <li>Help establish basic understanding before hands-on tasks</li>
            </ul>
        </div>
        <div class="quiz-activities">
            <mat-icon>check_circle</mat-icon>
            <h2>Quiz Activities</h2>
            <ul>
                <li>Follows the reading material</li>
                <li>Test knowledge on topics like variables, data structures, and classes</li>
                <li>Multiple-choice questions</li>
            </ul>
        </div>
        <div class="coding-activities">
            <mat-icon>code</mat-icon>
            <h2>Coding Activities</h2>
            <ul>
                <li>Provide an interactive coding environment (in Java)</li>
                <li>Present tasks requiring specific output</li>
                <li>Encourage hands-on problem-solving</li>
            </ul>
        </div>
    </div>
</div>

<div class="modules" id="modules">
    <h2 id="title">Course Roadmap</h2>
    <div class="module-parent">
        @for (module of getModules(11); track module; let i = $index){
            <div class="individual-module">
                <a href="/module/{{i}}/1">Module {{i}}: {{moduleNames()[i]}}</a>
                @for (activity of getActivities(moduleLengths()[i]); track activity; let j = $index){
                    @if (activities()[i][j] == 0){
                        <a href="/module/{{i}}/{{j+1}}">Reading Activity</a>
                    } @else if (activities()[i][j] == 1){
                        <a href="/module/{{i}}/{{j+1}}">Quiz Activity</a>
                    } @else {
                        <a href="/module/{{i}}/{{j+1}}">Coding Activity</a>
                    }
                }
            </div>
        }
    </div>
</div>

<div class="playground-parent">
    <div class="playground">
        <div class="playground-info">
            <h2>Playround</h2>
            <p>Let your creative run wild in this ultimate Java sandbox!</p>
            <a href="/playground" id="playground-button">Enter Playground</a> 
        </div>
        <div class="playground-img">
            <img src="assets/playground.png" alt="">
        </div>
    </div>

</div>
