h1 {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.language-java {
    font-family: ui-monospace, 'Cascadia Mono', 'Segoe UI Mono', monospace;
    color: #0000ff;
    font-size: large;
}

.language-java pre {
    margin: 0;
    font-family: inherit;
    color: inherit;
}

.keyword {
    font-family: ui-monospace, 'Cascadia Mono', 'Segoe UI Mono', monospace;
    color: indianred;
    font-weight: bold;
}

.keyword span {
    font-family: inherit;
    color: inherit;
}