<div class="header-parent">
    <div class="header">
        <div class="left-side">
            <gradient-header size="20px" label="SeetLabs: Code"></gradient-header>
            <a mat-button href="/">Home</a>
        </div>
        <div class="right-side">
            <a mat-button href="/module/0/1" id="modules-href">Modules</a>
            <div class="modules-href-drop-down-parent">
                <div class="modules-href-drop-down">
                    <a href="/module/0/1">Module 0: Introduction to Java</a>
                    <a href="/module/6/1">Module 6: Exception Handling</a>
                    <a href="/module/1/1">Module 1: Variables and Data Types</a>
                    <a href="/module/7/1">Module 7: Input and Output</a>
                    <a href="/module/2/1">Module 2: Control Flow</a>
                    <a href="/module/8/1">Module 8: Arrays and Collections</a>
                    <a href="/module/3/1">Module 3: Methods and Subprograms</a>
                    <a href="/module/9/1">Module 9: Data Structures, Generics</a>
                    <a href="/module/4/1">Module 4: Objects and Classes</a>
                    <a href="/module/10/1">Module 10: Recap</a>  
                    <a href="/module/5/1">Module 5: OOP, Interfaces, and Inheritance</a>
                </div>
            </div>
            <a mat-button href="/playground">Playground</a>
            <a mat-button (click)="openSettingsPage()">Storage</a>
        </div>
    </div>
</div>