.header-parent {
    width: 100%;
}

.header {
    background-color: #fff;
    opacity: 0.95;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    flex-direction: row;    
    padding: 0 3vw; 
    width: 94vw;
    position: fixed;
    z-index: 100000;
}

.left-side {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.left-side gradient-header {
    margin-right: 2vw;
}

.right-side {
    flex-direction: row;
    display: flex;
    align-items: center;
}
.modules-href-drop-down-parent {
    background: radial-gradient(circle at bottom left, #3d79bd, 
    #1c60a2, #004881, #003d6e); 
    width: 43vw;
    position: absolute;
    top: 6.0vh;   
    padding: 20px 20px;
    right: 18vh;
    border-radius: 10px;
    display: none;
    border: 1.5vh;
}

.modules-href-drop-down {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
}

.modules-href-drop-down a {
    width: fit-content;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.modules-href-drop-down a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

#modules-href:hover + .modules-href-drop-down-parent {
    display: block;
}

.modules-href-drop-down-parent:hover {
    display: block;
}