
@use '@angular/material' as mat;

#root {
    margin: 0.5% 0.5% 0.5% 0.5%;
    display: flex;
    justify-content: left;
}

#icon-button {
    background-color: #d3e4ff;
}

.progress-bar-value {
    @include mat.progress-bar-overrides((
        active-indicator-height: 0.7vh,
        track-height: 0.7vh
    ));
}

.test {
    width: 20vw;
    border: 0.5px solid gainsboro;
    height: 10vh;
}