<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>

<progress-bar></progress-bar>

<h1>Button Showcase</h1>
<p>Click Click Click!</p>

<a mat-button href="https://www.google.com/" target="_blank">It all began here</a>
<button mat-stroked-button>Stroke Button</button>
<br><br>
<button mat-flat-button>Flat Button</button>
<br><br>
<button mat-fab extended>
    <mat-icon>play_arrow</mat-icon>
    Run Code
</button>
<br><br>
<button id="icon-button"mat-icon-button>
    <mat-icon>play_arrow</mat-icon>
  </button>
<button mat-fab extended>
    <mat-icon>arrow_back</mat-icon>
    Last Activity
</button>
<button mat-fab extended>
    <mat-icon>arrow_forward</mat-icon>
    Next Activity
</button>

<hr>

<h1>Labels/Text</h1>
<gradient-header size="54px" label="Attention Gradient Getter"></gradient-header>
<gradient-header size="36px" label="Header Gradient Text"></gradient-header>
<gradient-header size="24px" label="Sub-Heading Gradient Text"></gradient-header>

<h1>[h1] Wow</h1>
<h2>[h2] Still Wow!</h2>
<h3>[h3] okay</h3>
<h4>[h4] why</h4>
<h5>[h5] too small</h5>
<h6>[h6] Can you read this?</h6>
<p>[p] normal reading text</p>
