<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>

<progress-bar></progress-bar>

<h1>Button Showcase</h1>
<p>Click Click Click!</p>

<a mat-button href="https://www.google.com/" target="_blank">It all began here</a>
<button mat-stroked-button>Stroke Button</button>
<br><br>
<button mat-flat-button>Flat Button</button>
<br><br>
<button mat-fab extended>
    <mat-icon>play_arrow</mat-icon>
    Run Code
</button>
<br><br>
<button id="icon-button"mat-icon-button>
    <mat-icon>play_arrow</mat-icon>
  </button>
<button mat-fab extended>
    <mat-icon>arrow_back</mat-icon>
    Last Activity
</button>
<button mat-fab extended>
    <mat-icon>arrow_forward</mat-icon>
    Next Activity
</button>
