
@use '@angular/material' as mat;

#root {
    margin: 0.5% 0.5% 0.5% 0.5%;
    display: flex;
    justify-content: left;
}

#icon-button {
    background-color: #d3e4ff;
}

.progress-bar-value {
    @include mat.progress-bar-overrides((
        active-indicator-height: 0.7vh,
        track-height: 0.7vh
    ));
}

.test {
    width: 20vw;
    border: 0.5px solid gainsboro;
    height: 10vh;
}

.inputBox {
    @include mat.form-field-overrides((
        outlined-label-text-font: Inter,
        container-text-font: Inter,
        subscript-text-font: Inter,
        filled-label-text-font: Inter,
        outlined-label-text-weight: 500,
        container-text-weight: 400,
        subscript-text-weight: 500,
        outlined-container-shape: 15px,
        // filled-active-indicator-height: 1.0vh
        // container-text-line-height: 0.3vh,
        // container-height: 1.0vh
        // container-vertical-padding: 0px
    ));
  }

.mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    height: auto;
    position: absolute !important;
    top: 0px !important;
    margin-top: 1.2vh !important;
}
// .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
//     height: auto;
//     margin-top: 0.5vh !important;
//     margin-bottom: 0.5vh !important;
// }

// ::ng-deep .mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon {
//     padding: 0 12px;
//     box-sizing: content-box;
//     margin-top: -1.4vh;
// }

.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    cursor: inherit;
    padding-bottom: 1.5vh !important;
}
.mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon {
    padding: 0 12px;
    box-sizing: content-box;
    margin-bottom: 1vh !important;
}

.mat-mdc-text-field-wrapper {
    height: 5vh !important;
    flex: auto;
    will-change: auto;
}