.footer-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 2vh;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: #a1a1a1 !important;
}

.footer p
{
    color: #a1a1a1 !important;
    font-style: italic;
    font-size:80%;
    margin-left: .8em;
}




img{
    margin-left:.8em;
    width:10em;
}

.footer h1 {
    color: #a1a1a1 !important;
    font-size: 18px;
    margin-right: 1em;

}