<div class="code-editor" style ="height:{{height}}">

  <div class="left colBase">
    <div class = "row">
      <div class="minirow">
        <h3>Code Editor</h3>
        <p>Press escape, then tab to tab outside of the editor.</p>
      </div>
      <p class="reset" (click)="resetEditor()">Reset</p>
    </div>

    <div class = "col">
      
      <div class = "codemirror-insert" ngModel #codeMirrorInsert></div>  
    </div>
  </div>
 
  <div class="right colBase">
    <div class = "row">
      
      <h3>Output</h3>
    </div>
    
    <div class="col">
     
      <div class = "rightContent">
      
        <button id="compile" disabled mat-flat-button [disabled]="status.compileButtonDisabled" (click)="mainButton()">
          {{status.buttonStatus}}
        </button>  
      
        <p class = "status" id = "status" >
          @if (status.additionalStatus !== "") {
            Status: {{status.additionalStatus}}

          }
        </p>
      </div>
      <app-java-output></app-java-output>
    </div>
  </div>
</div>