@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.text-area-parent {
    @include mat.form-field-overrides((
        outlined-label-text-font: Inter,
        container-text-font: Inter,
        subscript-text-font: Inter,
        filled-label-text-font: Inter,
        outlined-label-text-weight: 500,
        container-text-weight: 400,
        subscript-text-weight: 500,
        outlined-container-shape: 10px,
    ));
    margin-right: 200px;
  }

.text-area-parent textarea {
    resize: none;
}
