#gradient-header {
    background: linear-gradient(to right, #3d79bd, 
    #1c60a2, #004881, #003d6e); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter-Extra-Bold'
}