<form #quizForm="ngForm">
    <mat-card appearance="outlined" class="mat-card-parent">
        <div class="card-header">
            <div class="question-points">
                <h2 id="question-number">{{title}}</h2>
                @if (this.submitted){
                    <p id="points">{{correct ? points : 0}}/{{points}} Points</p>
                } @else {
                    <p id="points">{{points}} Points</p>
                }
            </div>
            <p id="question">{{questionTitle}}</p>
        </div>
        <mat-card-content>
            <mat-radio-group
            class="answerChoices"
            name="radioButtons-{{title}}"
            >
                @for (choice of choices; track choice; let i = $index) {
                    @if (i % 2 == 0 && i + 1 < choices.length){
                        <div class="choice-row">
                            <mat-radio-button
                            [ngClass]="{'correct': this.submitted == true && this.correctOptionsSet.has(i+1), 
                            'inCorrect': this.submitted == true && !this.correctOptionsSet.has(this.userChoice+1) && (this.userChoice) == i}" 
                            [value]="choices[i]"
                            (change)="userChoice=i; onAttempt()"
                            [disabled]="submitted"
                            >
                                <p>{{choices[i]}}</p    >
                            </mat-radio-button>
                            <mat-radio-button 
                            [ngClass]="{'correct': this.submitted == true && this.correctOptionsSet.has(i+2), 
                            'inCorrect': this.submitted == true && !this.correctOptionsSet.has(this.userChoice+1) && (this.userChoice) == i+1}" 
                            [value]="choices[i+1]"
                            (change)="userChoice=i+1; onAttempt()"
                            [disabled]="submitted"
                            >
                                <p>{{choices[i+1]}}</p>
                            </mat-radio-button>
                        </div>
                    }
                    @else if (i % 2 == 0 && i + 1 == choices.length) {
                        <div>
                            <mat-radio-button 
                            [ngClass]="{'correct': this.submitted == true && this.correctOptionsSet.has(i+1), 
                            'inCorrect': this.submitted == true && !this.correctOptionsSet.has(this.userChoice+1) && (this.userChoice) == i}" 
                            [value]="choices[i]"
                            (change)="userChoice=i; onAttempt()"
                            [disabled]="submitted"
                            >
                                <p>{{choices[i]}}</p>
                            </mat-radio-button>
                        </div>
                    }
                    
                }
            </mat-radio-group>
            @if (this.submitted && userChoice != -1){
                <span><h4>Feedback</h4><p>{{feedback[userChoice]}}</p></span>
            }
        </mat-card-content>
    </mat-card>
    <br>
</form>


