@use '@angular/material' as mat;


.answerChoices {
    margin-top: 1.5vh;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.choice-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.choice-row p {
    margin-right: 2vw;
}

#question-number {
    font-family: 'Inter-Regular';
    font-size: 20px;
}

.card-header {
    padding: 0.5vh 1.5vw 0vh 1.5vw;
}

#points {
    color: grey;
}

#question {
    margin: 0 !important;
    padding: 0 !important;
}

.question-points {
    display: flex;
    width: 100%;
    // background-color: cyan;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.correct {
    @include mat.radio-overrides((
        disabled-selected-icon-opacity: 1,
        disabled-unselected-icon-opacity: 1,
        disabled-selected-icon-color: rgb(40, 179, 40),
        disabled-unselected-icon-color: rgb(40, 179, 40),
        disabled-label-color: rgb(40, 179, 40),
    ));
}

.inCorrect {
    @include mat.radio-overrides((
        disabled-selected-icon-opacity: 1,
        disabled-unselected-icon-opacity: 1,
        disabled-selected-icon-color: rgb(228, 44, 50),
        disabled-unselected-icon-color: rgb(228, 44, 50),
        disabled-label-color: rgb(228, 44, 50),
    ));
}

