<form #quizForm="ngForm" (ngSubmit)="validateAnswer()">
    <mat-card appearance="outlined" class="mat-card-parent">
        <mat-card-header>
            <mat-card-title id="question-number">Question One</mat-card-title>
            <mat-card-subtitle>What is the correct choice?</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-radio-group
            class="answerChoices"
            name="radioButtons"
            >
                @for (choice of choices; track choice; let i = $index) {
                    @if (i % 2 == 0 && i + 1 < choices.length){
                        <div class="choice-row">
                            <mat-radio-button 
                            [ngClass]="{'correct': submitted == true && choices[correctChoice] == choices[i], 
                            'inCorrect': this.submitted == true && choices[i] != choices[correctChoice] && userChoice == choices[i]}"
                            id="firstChoice"
                            [value]="choices[i]"
                            (change)="userChoice=choices[i]"
                            [disabled]="submitted"
                            >
                                <p>{{choices[i]}}</p>
                            </mat-radio-button>
                            <mat-radio-button 
                            [ngClass]="{'correct': submitted == true && choices[correctChoice] == choices[i+1], 
                            'inCorrect': this.submitted == true && choices[i+1] != choices[correctChoice] && userChoice == choices[i+1]}"
                            [value]="choices[i+1]"
                            (change)="userChoice=choices[i+1]"
                            [disabled]="submitted"
                            >
                                <p>{{choices[i+1]}}</p>
                            </mat-radio-button>
                        </div>
                    }
                    @else if (i % 2 == 0 && i + 1 == choices.length) {
                        <div>
                            <mat-radio-button 
                            [ngClass]="{'correct': submitted == true && choices[correctChoice] == choices[i], 
                            'inCorrect': this.submitted == true && choices[i] != choices[correctChoice] && userChoice == choices[i]}"
                            [value]="choices[i]"
                            (change)="userChoice=choices[i]"
                            [disabled]="submitted"
                            >
                                <p>{{choices[i]}}</p>
                            </mat-radio-button>
                        </div>
                    }
                    
                }
            </mat-radio-group>
        </mat-card-content>
 
    </mat-card>
    <br>
    <button mat-flat-button type="submit" [disabled]="submitted">Submit Quiz</button>
    <p>uC: {{userChoice}}</p>
</form>


