:host{
    display:block;
    border-top:.4em solid  #ddd; /*#427ec2;*/
    padding:.5em;
    flex-basis: 100%;

   
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size:10pt;
    white-space: pre-wrap;
}

.error{
    color:red;
}