.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 60vw;
    padding: 20px 30px 20px 30px;
    border-radius: 15px;
    background-color: #f5f5f5a7;
}

#test {
    font-size: 100px;
}