@use '@angular/material' as mat;

.sub-header-parent {
    width: 100%;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    flex-direction: row;
    padding: 0 3vw;
    width: 88vw;
    height: 7vh;
    margin-bottom: 6vh;
}

.progress-bar {
    width: 30vw !important;
}

.sub-header-bottom-parent-parent {
    width: 94vw;
}

.sub-header-bottom-parent {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    // background-color: aqua;
}

.sub-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 74vw;
    margin-bottom: 6vh;
}

.module_button {
    @include mat.fab-overrides((
        foreground-color: #fff,
        container-color: #3d79bd,
    ));
  }