<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>

@if (headerBottom == false){
    <div class="sub-header-parent">
        <div class="sub-header">
            @if (moduleNumber != '0' && getAssignmentNumber() > 1 || (moduleNumber == '0' && getAssignmentNumber() > 1)){
                <a href="/module/{{moduleNumber}}/{{ decrementAssignment() }}" mat-fab extended>
                    <mat-icon>arrow_back</mat-icon>
                    Prev Activity
                </a>
            }
            @else if (moduleNumber != '0' && getAssignmentNumber() == 1){
                <a href="/module/{{decrementModule()}}/{{lastModuleLastActivityNum()}}" class="module_button" mat-fab extended>
                    <mat-icon>arrow_back</mat-icon>
                    Last Module
                </a>
            }
            @else {
                <a href="/module/{{decrementModule()}}/{{0}}"  [ngStyle]="{'visibility': 'hidden'}" class="module_button" mat-fab extended>
                    <mat-icon>arrow_back</mat-icon>
                    Last Module
                </a>
            }
            <div class="progress-bar">
                <progress-bar title="Module {{moduleNumber}} Completion" value="50"></progress-bar>
            </div>
            @if (moduleNumber != '10' && getAssignmentNumber() < numberAssignments() || (moduleNumber == '10' && getAssignmentNumber() < numberAssignments())){
                <a href="/module/{{moduleNumber}}/{{ incrementAssignment() }}" mat-fab extended>
                    <mat-icon>arrow_forward</mat-icon>
                    Next Activity
                </a>
            }
            @else if (moduleNumber != '10' && getAssignmentNumber() == numberAssignments()){
                <a href="/module/{{incrementModule() }}/1" class="module_button" mat-fab extended>
                    <mat-icon>arrow_forward</mat-icon>
                    Next Module
                </a>
            }
            @else {
                <a href="/module/{{decrementModule()}}/{{0}}"  [ngStyle]="{'visibility': 'hidden'}" class="module_button" mat-fab extended>
                    <mat-icon>arrow_back</mat-icon>
                    Last Module
                </a>
            }
            
        </div>
    </div>
}
@else {
    <div class="sub-header-bottom-parent-parent">
        <div class="sub-header-bottom-parent">
            <div class="sub-header-bottom">
                @if (moduleNumber != '0' && getAssignmentNumber() > 1 || (moduleNumber == '0' && getAssignmentNumber() > 1)){
                    <a href="/module/{{moduleNumber}}/{{ decrementAssignment() }}" mat-fab extended>
                        <mat-icon>arrow_back</mat-icon>
                        Prev Activity
                    </a>
                }
                @else if (moduleNumber != '0' && getAssignmentNumber() == 1){
                    <a href="/module/{{decrementModule()}}/{{lastModuleLastActivityNum()}}" mat-fab extended>
                        <mat-icon>arrow_back</mat-icon>
                        Last Module
                    </a>
                }
                @else {
                    <a href="/module/{{decrementModule()}}/{{0}}"  [ngStyle]="{'visibility': 'hidden'}" mat-fab extended>
                        <mat-icon>arrow_back</mat-icon>
                        Last Module
                    </a>
                }
                
                @if (moduleNumber != '10' && getAssignmentNumber() < numberAssignments() || (moduleNumber == '10' && getAssignmentNumber() < numberAssignments())){
                    <a href="/module/{{moduleNumber}}/{{ incrementAssignment() }}" mat-fab extended>
                        <mat-icon>arrow_forward</mat-icon>
                        Next Activity
                    </a>
                }
                @else if (moduleNumber != '10' && getAssignmentNumber() == numberAssignments()){
                    <a href="/module/{{incrementModule() }}/1" mat-fab extended>
                        <mat-icon>arrow_forward</mat-icon>
                        Next Module
                    </a>
                }
                @else {
                    <a href="/module/{{decrementModule()}}/{{0}}"  [ngStyle]="{'visibility': 'hidden'}" mat-fab extended>
                        <mat-icon>arrow_back</mat-icon>
                        Last Module
                    </a>
                }
            </div>
        </div>
    </div>
}
