@use '@angular/material' as mat;

.sub-header-parent {
    width: 100%;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    flex-direction: row;
    padding: 0 3vw;
    width: 88vw;
    height: 7vh;
    margin-bottom: 6vh;
}

.progress-bar {
    width: 30vw !important;
}

.sub-header-bottom-parent-parent {
    width: 94vw;
}

.sub-header-bottom-parent {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    // background-color: aqua;
}

.sub-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 74vw;
    margin-bottom: 6vh;
}

.module_button {
    @include mat.fab-overrides((
        foreground-color: #fff,
        container-color: #235186,
    ));
  }

//

.progress-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.activity-progress-widget-passed {
    background-color: rgb(133, 224, 133);
    display: flex;
    width: 150px;
    max-height: 30px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 2px 7px !important;
    border-radius: 15px;
}

.activity-progress-widget-failed {
    background-color: rgb(246, 180, 180);
    display: flex;
    width: 150px;
    max-height: 30px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 2px 7px !important;
    border-radius: 15px;
}

#activity-progress-text {
    font-size: 14px !important;
}

.material-icons {
    font-size: 16px !important;
}

.mat-icon {
    max-width: 16px !important;
    max-height: 16px !important;
}

